{% extends 'base.html.twig' %}
 
{% block title %}Mot de passe oublié{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style_inscription.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.min.css') }}">

{% endblock %}
 
{% block body %}
<div class="formulaire">
    <h1>Mot de passe oublié</h1>
    {{ form_start(emailForm) }}

        {{ form_row(emailForm.email, { 'attr': {'class': 'txtp'} }) }}    
        {{ form_row(emailForm.envoyer, { 'attr': {'class': 'connexion'} }) }}    

    {{ form_end(emailForm)   }}

</div>
{% endblock %}