{% extends 'base.html.twig' %}

{% block title %}Trash Project - Page d'accueil{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div style="text-align:center; margin-top: 80px;" class="flash-{{ label }}">
                    <h1 style="text-align:center; font-size: 28px;">{{ message }}</h1>
                </div>
            {% endfor %}
        {% endfor %}
<div class="banniere"></div>

 <div class="mid">
    
        <h1>Trash Project</h1>
        <div class="contenu">
            <div class="plateau">
                <img src="{{asset('img/plateaucarr-mockup.png')}}" >
            </div>
            <div class="expl">
                <p>Découvrez Trash Project, notre jeu prend ses racines sur le fonctionnement de La Bonne Paye en s’adaptant à l’univers MMI. Nous conservons l’essence de ce dernier, comme le mode de jeu, les cases d’avancement, le lancer de dé ou encore une case cagnotte par exemple. Le but de notre jeu sera de créer un projet fictif en amassant le plus de points au cours de celui-ci. Sur votre chemin se dresseront tous les obstacles imaginables que nous pouvons croiser dans la conception d’un projet.
                    <br>
                    <a href="{{path('creer_partie')}}">
                        <button>JOUER</button>
                    </a>
                </p>
            </div>
        </div>

    </div>

    <div class="regles">
        <h1>RÈGLES</h1>
        <div class="contenu2">
            <div class="regles_ecrit">
                <p>Avant de débuter la partie, choississez un joueur qui tient la banque. Le banquier remet à chaque joueur la somme de 120 points et un pion. Il leur remet 4 jetons de 5 points ; 3 jetons de 10 points ; 2 jetons de 20 points ; 2 jetons de 30 points ; et 1 jetons de 50 points. Il sépare les cartes mail, imprévu et à prendre ou à laisser. Trois piles de cartes sont donc disposées autour du plateau, face cachées. Déterminez le nombre de tour avant de débuter la partie. Un «mois» correspond à un tour de jeu complet. (De la case départ à la case point projet). Posez les pions sur la case départ, et commencez la partie.
                    <br>
                    <a href="{{asset('assets/livret_trash_project.pdf')}}" download="Règles_Trah_Project">
                        <button>RÈGLES</button>
                    </a>

                </p>
            </div>
            <div class="vdo"><video controls style="width: 100%; height: 100%;" src="{{asset('assets/règles du jeu_1.mp4')}}"></video></div>
        </div>
    </div>


    <h1 style="margin-top: 30px; margin-bottom: 30px;">STATISTIQUES</h1>
    <div class="contenu"  style="margin-bottom: 30px";>
        <div class="expl">

            <p style="text-align: center; font-size: 150%;">
                Il existe {{partie_total}} parties au total <br>
                Et pas moins de {{ partie_total_en_cours }} parties qui sont en cours! <br>
                Et enfin, c'est {{ partie_terminee }} partie(s) qui sont déjà terminées... <br>
            </p>
        </div>
    </div>
                <table style="border: 1px solid black; border-radius: 10px; margin-right: auto; margin-left: auto; margin-bottom: 15px; font-family: 'Anime Ace 2.0 BB'; line-height: 40px; width: 35%; text-align: center;">
                            <thead style="background-color: #7ea4f8">
                            <tr>
                                <th style="font-size: 32px;" colspan="4">Classement top 10</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Pseudo</td>
                                <td>Score</td>
                            </tr>
                            {% for users in user_classement %}
                            <tr>
                                <td>{{users.username}}</td>
                                <td>{{users.score}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                </table>
</div>
{% endblock %}
