<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Trash Project - Accueil{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        
        {% endblock %}

        {% block head_css %}

        {% endblock %}
        {% block head_js %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        {% endblock %}

        </head>
        <body>
        {% block header %}
  
        <header>
          <nav>
              <input type="checkbox" id="check">
              <label for="check" class="checkbtn">
                  <i class="fas fa-bars"></i>
              </label>
              <a href="#" class="logo2"><img src="{{asset('img/logo_trashheader.png')}}" alt="logo trash project header" class="imglogo"/></a>
              <ul>
                  <li><a class="active" href="{{ path('app_accueil') }}">Accueil</a></li>
                  <li><a href="{{ path('creer_partie') }}">Jouer</a></li>
                  {% if app.user %}
                  <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        	        <li><a href="{{ path('joueur_profil') }}">Profil</a></li>
                  {% else %}
                  <li><a href="#popup1" id="connexion" >Connexion</a></li>
                  <li><a href="{{ path('app_inscription') }}">Inscription</a></li>
                  {% endif %}
        	        <!-- <li><a href="/jeu/communaute">Communauté</a></li> -->
                  <li><a href="http://149.91.81.101/jeu/admin">Administration</a></li>
              </ul>
          </nav>
          <section></section>
      </header>

      <div id="popup1" class="overlay">
          <div class="popup">
              <h2>Connexion</h2>
              <a class="close" href="#">&times;</a>
              <div class="content">
                  <form action="{{ path('app_connexion')}}" method="POST">
                      <label>Pseudo</label>
                      <input type="text" class="txtp" placeholder="Entrer le nom d'utilisateur" name="username" id="username" required>

                      <label class="mdpl">Mot de passe</label>
                      <input type="password" class="txtp" placeholder="Entrer le mot de passe" name="password" id="password" required>
                      <a href="{{ path('app_inscription') }}" class="inscrit">Pas encore inscrit? inscrit toi!</a>

                         <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                      <input type="submit" id="submit" value="Connexion" class="connexion">
                  </form>
              </div>
          </div>
        </div> 
        <section style="margin-top: 100px">
        {% endblock %}

        {% block body %}{% endblock %}
        {% block footer %}

        </section>
        {% endblock %}

        {% block javascripts %}
        <script>
         
        </script>
        {% endblock %}
    </body>
</html>
