
 <head>
        <meta charset="UTF-8">
        <title>{% block title %}Jeu en ligne trash game{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% block head_css %}
        <link rel="stylesheet" href="{{ asset('css/jeu.css') }}" />
        {% endblock %}
        {% block head_js %}
        <link rel="stylesheet" href="{{ asset('css/carte.css') }}">
        <link rel="stylesheet" href="{{ asset('css/des.css') }}">
        {% endblock %}

</head>
{% block body %}

  <section id="wrapper">

     <header>
            <ul>

                <li><img src="{{ asset('images/logo_trash.png') }}" alt="logo Trash Project" id="logoJ"/></li>
                <li><img src="{{ asset('img/home/perso.svg') }}" alt="Avatar"/><p id="pseudo"> {{ user }}</p></li>

                <li id="score_reload"><img src="{{ asset('img/piece.svg') }}" alt="Pièce"/>                    
                <p>{% for jouer in partie.jouers %}{% if jouer.joueur.id == user.id %} {{jouer.argent}} {% endif %}{% endfor %}</p>
                </li>
            </ul>
            <h1>Tour 1</h1>
            <ul>
                <li class="navtxt"><a href="{{ path('app_accueil')}}" target=_blank>Accueil</a></li>
                <li class="navtxt"><a href="{{ path('joueur_profil')}}" target=_blank>Profil</a></li>
                <li class="navtxt"><a href="#">Règles</a></li>
            </ul>
    </header>

    <div id="plateau">
        {{ render(path('affiche_plateau', {partie: partie.id})) }}
    </div>
   <section id="arrows"></section>

        <section id="bloc_playerContent">
            <section id="B_sideG">
                <img src="{{ asset('img/plateau.png') }}" alt="">
                <div id="bloc_chat">
                    <div id="chat_header">
                        <p>Chat</p>
                    </div>
                    <section id="messages">
                        <br />
                    <div class="bloc_msg msg_in" data-id="1"><p class="msg_name">Billy</p><div class="msg"><p>Salut !</p></div></div><br />
                    <div class="bloc_msg msg_in" data-id="2"><p class="msg_name">Billy</p><div class="msg"><p>Ça va ?</p></div></div><br />
                    <div class="bloc_msg msg_in" data-id="3"><p class="msg_name">Nate</p><div class="msg"><p>Oui et toi ?</p></div></div><br />
                    <div class="bloc_msg msg_in" data-id="4"><p class="msg_name">Billy</p><div class="msg"><p>Ben comme d'hab hein la schizophrénie</p></div></div><br />
                    <div class="bloc_msg msg_in" data-id="5"><p class="msg_name">Nate</p><div class="msg"><p>Ah gars plus on est de fous plus on rit</p></div></div><br />
                    <div class="bloc_msg msg_in" data-id="6"><p class="msg_name">Billy</p><div class="msg"><p>Eh ben on va se fendre la poire alors</p></div></div><br />
                    <div class="bloc_msg msg_in" data-id="7"><p class="msg_name">Nate</p><div class="msg"><p>Gros, jviens de me rendre compte d'un truc</p></div></div><br />
                    <div class="bloc_msg msg_in" data-id="8"><p class="msg_name">Billy</p><div class="msg"><p>Quoi ?</p></div></div><br />
                    <div class="bloc_msg msg_in" data-id="9"><p class="msg_name">Nate</p><div class="msg"><p>Beh c'est impossible d'être dyslexique et schizophrène</p></div></div><br />
                    <div class="bloc_msg msg_in" data-id="10"><p class="msg_name">Nate</p><div class="msg"><p>Boh après vue comme ça, c'est impossible pour un dyslexique d'être dyslexique...</p></div></div><br />
                    <div class="bloc_msg msg_in" data-id="11"><p class="msg_name">Nate</p><div class="msg"><p>Complexe</p></div></div><br />
                    <div class="bloc_msg msg_in" data-id="44"><p class="msg_name">Billy</p><div class="msg"><p>Allez casse toi va</p></div></div><br />
                    <div class="bloc_msg msg_in" data-id="45"><p class="msg_name">Nate</p><div class="msg"><p>Vu.</p></div></div><br />
                    <div class="bloc_msg msg_in" data-id="46"><p class="msg_name">d</p><div class="msg"><p>:O
                    </p></div></div>  

                    </section>
                    
                    <div id="new_msg">
                        <textarea name="" id="text_msg"></textarea>
                        <div id="send_msg">
                            <svg data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.59 12.73"><title>Envoyer</title><path id="send_path" d="M2.55,15.3,15.64,9.69a.75.75,0,0,0,0-1.38L2.55,2.7a.74.74,0,0,0-1,.68V6.84a.75.75,0,0,0,.65.74L12.75,9,2.15,10.41a.76.76,0,0,0-.65.75v3.46A.74.74,0,0,0,2.55,15.3Z" transform="translate(-1.5 -2.64)"/></svg>
                        </div>
                    </div>

                </div>
            </section>
            <section id="B_C">
                <section id="B_assets">
                    <div id="asset_de"></div>
                    {% for jouer in partie.jouers %} 
                    {% if jouer.joueur.id == app.user.id %}
                    <div id="asset_pion" style="background-image:url('{{ asset('img/home/pions/'~ jouer.pion ~ '.png')}}')"></div>
                    {% endif %}
                    {% endfor  %}
                    <div id="asset_cagnotte"></div>
                </section>
                <section id="B_pioche">
                    <article class="carte_pioche" id="mail"><img src="{{ asset('img/mailD.png') }}"></article>
                    <article class="carte_pioche" id="imp"><img src="{{ asset('img/impD.png') }}"></article>
                    <article class="carte_pioche" id="apoal"><img src="{{ asset('img/apoalD.png') }}"></article>
                </section>
            </section>
            <ul id="B_other_player">
                {% for jouer in partie.jouers %} 
               <li data-playerId="{{jouer.joueur.id}}" class="score_each">
                    <img src="{{ asset('img/home/'~ jouer.joueur.img|e) }}" alt="Avatar"/>
                    <div>
                    <p>{% if jouer.joueur.id == app.user.id %}==>{% endif %}{{ jouer.joueur.username }}</p>
                         <span>
                            <img src="{{asset('img/home/piece.svg')}}" alt="Pièce">
                            <p>{{ jouer.argent }}</p>
                        </span>
                    </div>
                </li>
                </div>
                {% endfor %}
            </ul>
        </section>
    </section>
    
       <section id="wrapper_carte">
        <section id="bloc_tas">
            <section id="carte_tas">
                <img src="" id="src_tasTop" >
            </section>
            <section id="pile_cartes">
                <img src="" id="src_tas" >
            </section>
        </section>

        <section id="carte">
            <img src="" id="src_carte">
            <div id="shdw_carte"></div>
        </section>
    </section>

    <section id="wrapper_des">
        <section id="losdos">
            <div class="dé_wrap">
                <div class="dé_cube" id="dé_cube1">
                    <div class="dé_front dé_face de_click">
                        <article class="dé_point dé_hg de_click"></article>
                        <article class="dé_point dé_hm de_click"></article>
                        <article class="dé_point dé_hd de_click"></article>
                        <article class="dé_point dé_bg de_click"></article>
                        <article class="dé_point dé_bm de_click"></article>
                        <article class="dé_point dé_bd de_click"></article>
                    </div>
                    <div class="dé_back dé_face de_click">
                        <article class="dé_point dé_mm de_click"></article>
                    </div>
                    <div class="dé_top dé_face de_click">
                        <article class="dé_point dé_hg de_click"></article>
                        <article class="dé_point dé_hd de_click"></article>
                        <article class="dé_point dé_bg de_click"></article>
                        <article class="dé_point dé_bd de_click"></article>
                    </div>
                    <div class="dé_bottom dé_face de_click">
                        <article class="dé_point dé_hd de_click"></article>
                        <article class="dé_point dé_mm de_click"></article>
                        <article class="dé_point dé_bg de_click"></article>
                    </div>
                    <div class="dé_left dé_face de_click">
                        <article class="dé_point dé_hg de_click"></article>
                        <article class="dé_point dé_hd de_click"></article>
                        <article class="dé_point dé_mm de_click"></article>
                        <article class="dé_point dé_bg de_click"></article>
                        <article class="dé_point dé_bd de_click"></article>
                    </div>
                    <div class="dé_right dé_face de_click">
                        <article class="dé_point dé_hd de_click"></article>
                        <article class="dé_point dé_bg de_click"></article>
                    </div>
                </div>
            </div>
            <div class="dé_wrap" id="dé_2">
                <div class="dé_cube" id="dé_cube2">
                    <div class="dé_front dé_face de_click">
                        <article class="dé_point dé_hg"></article>
                        <article class="dé_point dé_hm"></article>
                        <article class="dé_point dé_hd"></article>
                        <article class="dé_point dé_bg"></article>
                        <article class="dé_point dé_bm"></article>
                        <article class="dé_point dé_bd"></article>
                    </div>
                    <div class="dé_back dé_face de_click">
                        <article class="dé_point dé_mm"></article>
                    </div>
                    <div class="dé_top dé_face de_click">
                        <article class="dé_point dé_hg"></article>
                        <article class="dé_point dé_hd"></article>
                        <article class="dé_point dé_bg"></article>
                        <article class="dé_point dé_bd"></article>
                    </div>
                    <div class="dé_bottom dé_face de_click">
                        <article class="dé_point dé_hd"></article>
                        <article class="dé_point dé_mm"></article>
                        <article class="dé_point dé_bg"></article>
                    </div>
                    <div class="dé_left dé_face de_click">
                        <article class="dé_point dé_hg de_click"></article>
                        <article class="dé_point dé_hd de_click"></article>
                        <article class="dé_point dé_mm de_click"></article>
                        <article class="dé_point dé_bg de_click"></article>
                        <article class="dé_point dé_bd de_click"></article>
                    </div>
                    <div class="dé_right dé_face de_click">
                        <article class="dé_point dé_hd de_click"></article>
                        <article class="dé_point dé_bg de_click"></article>
                    </div>
                </div>
            </div>

        </section>
        <p id="score"></p>
    </section>
</section>


    <div id="shdw"></div>
 
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/des.js')}}"></script>

    <script>
    $('#asset_de').hide()
      let montour = null
      $(document).ready(function () {
        //toutes les 3 secondes
        setInterval(whoPlay, 3000)
      })

      function whoPlay () {
        //cette fonction permet de scruter toutes les 3 secondes (a ajuster), l'état de la partie
        // si ce n'est pas à moi de jouer, je mets le jeu en pause de mon coté, j'indique le joueur en train de jouer.
        // si c'est à mon tour, je mets à jour le plateau, et j'enleve la pause
        $.ajax({
          url: "{{ path('update_game', {partie: partie.id}) }}",
          success: function (data) {
            console.log(data.monTour + ' ' + montour)
            if (data.monTour !== montour) {
              $( "#score_reload" ).load(window.location.href + " #score_reload" );
              $( "#score_each" ).load(window.location.href + " #score_each" );
              console.log('diff on refresh')
              //il y a des données dans data, on pourrait mettre à jour en javascript la partie joueur éventuellement...
              if (data.monTour == true) {
                $('#plateau').empty().load("{{ path('affiche_plateau',{partie:partie.id}) }}", function (response, status, xhr) {
                  $('#my-game-pause').hide()
                  $('#asset_de').show()
                  montour = true
                })

              } else {
                $('#my-game-pause').show()
                $('#asset_de').hide()
                montour = false
              }
            }
          }
        })
      }

      $(document).on('click', '#asset_pion', function () {
        $.ajax({
          url: "{{ path('fin_de_tour', {partie: partie.id}) }}",
          success: function (data) {
            //il y a des données dans data, on pourrait mettre à jour en javascript la partie joueur éventuellement...
            $('#my-game-pause').show()
            $('#asset_de').hide()
          }
        })
      })

      $(document).on('click', '.de_click', function () {
        $.ajax({
          url: "{{ path('lance_de', {partie: partie.id}) }}",
          type: "POST",
          dataType: "json",
          data: {de: score},
          success: function (data) {
            console.log(data);
            $('#plateau').empty().load("{{ path('affiche_plateau',{partie:partie.id}) }}", function (response, status, xhr) {
              $('#my-game-pause').hide()
              $('#my-game-play').show()
              montour = true
            })
          }
        })
      })
    </script>

    <script>//CARTE PIOCH
        let src_id=$(this).attr('id');
        var assetsBaseDir = "{{asset('img/')}}";
        $('.carte_pioche').click(function(){
            $('#wrapper_carte').css('display','block');
            src_id=$(this).attr('id');
            $('#src_tasTop').attr('src', assetsBaseDir + src_id+'D_top.png');
            $('#src_tas').attr('src', assetsBaseDir + src_id+'_tas.png');
            $('#src_carte').attr('src', assetsBaseDir + src_id+'F.png');
             shdw_in();
            setTimeout(intitTransition,500);
        });

        $('#pioch').click(function(){
            $('#carte_tas').css('transform','translate(-50%) rotate3d(1, 0, 0, 45deg) translate3d(0,100vh,0)');
            setTimeout(pioch2,500);
        });
        $('#carte_tas').click(function(){
            $('#carte_tas').css('transform','translate(-50%) rotate3d(1, 0, 0, 45deg) translate3d(0,100vh,0)');
            setTimeout(pioch2,500);
        });
        function pioch2(){
            $('#carte').css({'top':'0','transform':'translate(-50%)'});
            $('#shdw_carte').css('animation','ombre 1s');
            if(src_id=='mail'){
                setTimeout(function(){$('#carte').css('transform','translate(-100%,-0%) rotate(90deg)')},1000);
            }
        }

        $('#carte').click(function(){
            $('#carte').css('left','-100vw');
            $('#pile_cartes').css('left','-100vw');
            shdw_out();
            setTimeout(redefine,1000);
        });

        function redefine(){
            $('#bloc_tas').css({'top':'100vh','transition':'none'});
            $('#carte_tas').css({'transform':'translate(-50%) rotate3d(1, 0, 0, 45deg)','transition':'none'});
            $('#carte').css({'top':'100vh','transform':'translate(-50%) rotate3d(0, 1, 0, 90deg)','left':'50%','transition':'none'});
            $('#shdw_carte').css({'animation':'none','transition':'none'});
            $('#pile_cartes').css({'left':'50%','transition':'none'});
            $('#wrapper_carte').css('display','none');
        }

        function intitTransition(){
            $('#bloc_tas').css('top','0');
            intitTransition2();
        }
        function intitTransition2(){
            $('#bloc_tas').css('transition','top 1s');
            $('#carte_tas').css('transition','transform 0.5s');
            $('#carte').css('transition','top 1s,transform 1s,left 1s');
            $('#shdw_carte').css('transition','left 1s');
            $('#pile_cartes').css('transition','left 1s');
        }

        function shdw_in(){
            $('#shdw').css('display','block');
            setTimeout(function(){$('#shdw').css('background','rgba(0, 0, 0, 0.4)')},10);
        }
        function shdw_out(){
            $('#shdw').css('background','rgba(0, 0, 0, 0.0)');
            setTimeout(function(){$('#shdw').css('display','none');},500);
        }
    </script>
    <script>//Les dés
        $('#asset_de').click(function(){
            shdw_in();
            $('#wrapper_des').css('display','flex');
            setTimeout(function(){$('#wrapper_des').css('top','0');},10);
        });
    </script>
    <script>
        function playerFocus(){
            //console.log(score);
            $("#bloc_plateau").animate({ scrollLeft: $("#caseId"+(score)).prop('offsetLeft')-window.innerWidth/2 + $("#caseId"+(score)).width()/2}, 1000);
        }

        function changement_check(){
            $('.player_plateau').each(function(){
                $(this).css('left', $('#caseId'+(parseInt($(this).attr('data-caseId'))+1)).prop('offsetLeft')+$('.bloc_case').width()/2);
            })
        }

        $('.score_each').click(function(){
            $("#bloc_plateau").animate({ scrollLeft: $("#caseId"+(parseInt($(".player_plateau[data-playerId='"+$(this).attr('data-playerId')+"']").attr('data-caseId'))+1)).prop('offsetLeft')-window.innerWidth/2 + $(".bloc_case").width()/2}, 1000);
        });
    </script>
    <script>//drag —— Script de Ionut Daniel –– Merci <3
        const slider = document.querySelector('#bloc_plateau');
        let isDown = false;
        let startX;
        let scrollLeft;

        slider.addEventListener('mousedown', (e) => {
            isDown = true;
            startX = e.pageX - slider.offsetLeft;
            scrollLeft = slider.scrollLeft;
        });
        slider.addEventListener('mouseleave', () => {
            isDown = false;
        });
        slider.addEventListener('mouseup', () => {
            isDown = false;
        });
        slider.addEventListener('mousemove', (e) => {
            if(!isDown) return;
            e.preventDefault();
            const x = e.pageX - slider.offsetLeft;
            const walk = (x - startX) * 2; //scroll-fast
            slider.scrollLeft = scrollLeft - walk;
        });
        $('#players_plateau').css('width',$('#bloc_plateau').prop('scrollWidth')+'px');
        changement_check();
    </script>

{% endblock %}

