{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
<section class="container-fluid" style="display: flex; flex-direction: row">
    <div class="row col-sm-6">
    <h2>Créer une nouvelle partie</h2>
    <form class="col-sm-12" action="" method="POST">
    
        {% for i in 1..6 %}
            <section class="col-sm-12" style="display: flex; flex-direction: row;">
                <div style="width: 25vw;">
                        <label for="joueur{{ i }}">Joueur {{ i }}</label>
                        <select name="joueur{{ i }}" id="joueur{{ i }}" style="width: 25%;">
                            <option value=""></option>
                            {% for joueur in joueurs %}
                                <option value="{{ joueur.id }}">{{ joueur.username }}</option>
                            {% endfor %}
                        </select>
                </div>
                    {% if i < 6 %}

                <div class="col-sm-6">
                    <label for="pion{{ i }}">Pion {{ i }}</label>
                    <select name="pion{{ i }}" id="pion{{ i }}">
                        <option value=""></option>
                        {% for i in 1..5 %} {# Pourrait provenir d'une table #}
                            <option value="pion{{ i }}">pion {{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                    {% endif %}
            </section>
        {% endfor %}
        <div>
            <button type="submit" class="btn btn-success">Créer la partie</button>
        </div>
    </div>
    </form>

    <div class="row col-sm-6">

     <h2>Rejoindre une partie</h2>
                    <div class="col-sm-3" id="app_partie">
                    <label for="code_partie">Entrer le code de la partie, puis validez</label>
                    <input v-model="code">
                    <a v-bind:href="'/jouer/affiche-partie/' + code">Validez</a>
                    </div>
    </div>
</section>    

{% endblock %}
{% block javascripts %}
<script>
    var app = new Vue({

        el: '#app_partie',
        data: {
            code: ''
        }
    })
</script>
{% endblock %}


