{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper" style="margin-top: 100px;">
    <h1 style="font-size: 250%">Forum de communauté</h1><br><br>

    <a  href="{{ path('post_topic')}}" class="connexion"> Poster un topic</a> <br><br>
    
    <h2 style="font-size: 250%">Liste des topics</h2><br><br>
    {% for forums in forum %}
    
        <a href="{{ path('post_unique', {forum: forums.id}) }}">{{forums.titre}}</a><p>, publié le {{forums.date|date("m/d/Y")}} par {{forums.auteur}}</p>
    {% endfor %}
</div>
{% endblock %}
